02-ai-research-agent.json
{
  "name": "AI Research Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Company }}",
        "options": {
          "systemMessage": "You are an expert research agent. You will be given a name of a competitor, and you will use your Perplexity tool to do research about them and summarise what they've been up to so that we can stay ahead of them."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        -16
      ],
      "id": "51ff987b-3efb-4568-a736-5d5a9e564c64",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "nex-agi/deepseek-v3.1-nex-n1:free",
        "options": {
          "maxTokens": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        192,
        192
      ],
      "id": "d0dd6d77-ed58-4c62-a50c-2b0981463e9d",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "r0gR1aPmUsD5JtNn",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        352,
        192
      ],
      "id": "4e056fb9-c1e0-45cd-a5ac-b5df0bc4114a",
      "name": "Message a model in Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "jpXzijft8HHd2WAs",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        -16
      ],
      "id": "e06c863b-de19-42e8-bfa1-54764023fc2d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11s8LhEqBJJzbBHKtYyqMZU4fww_Vs0-_Z4oZHgJP4sg",
          "mode": "list",
          "cachedResultName": "Competitor Research",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11s8LhEqBJJzbBHKtYyqMZU4fww_Vs0-_Z4oZHgJP4sg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11s8LhEqBJJzbBHKtYyqMZU4fww_Vs0-_Z4oZHgJP4sg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -16,
        -16
      ],
      "id": "19caf738-0dff-4dce-8052-45f639ae2e15",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mgoMHFkUkcWdHROL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "11s8LhEqBJJzbBHKtYyqMZU4fww_Vs0-_Z4oZHgJP4sg",
          "mode": "list",
          "cachedResultName": "Competitor Research",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11s8LhEqBJJzbBHKtYyqMZU4fww_Vs0-_Z4oZHgJP4sg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11s8LhEqBJJzbBHKtYyqMZU4fww_Vs0-_Z4oZHgJP4sg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $('Get row(s) in sheet').item.json.Company }}",
            "Findings": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Company"
          ],
          "schema": [
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Findings",
              "displayName": "Findings",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        -16
      ],
      "id": "6ed80b90-1b33-4ba9-8f42-cbdc6b74fae4",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mgoMHFkUkcWdHROL",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9e91dbe7-807d-4031-b984-86b22acae8a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eb2b26bc4b9e45f2e98a58f5335f2cb274b5f0a461f414316f9fb62d57cd8678"
  },
  "id": "yoZGwRULpjepzAbh",
  "tags": []
}
